body {
	font-family: Georgia, serif;
	color:#353535;
}

.date {
	color:#808080;
	margin:10px 0px;
}

.share {
	text-align: right;
	margin:10px 0px;
}

a {
	color:#353535;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

.logo span {
	display:block;
	font-size:16px;
	line-height:40px;
	color:#b7b7b7;
}

.logo span a {
	text-decoration:none;
	color:#b7b7b7;
}

.logo span a:hover {
	text-decoration:underline;
}

.center {
	text-align: center;
}

.large-story {
	font-size:50px;
}

.medium-story {
	font-size:30px;
}

.small-story {
	font-size:20px;
}

