<html>
<head>
    <title>{{ page_title }}</title>

    <meta charset="UTF-8">
    <meta property="og:title" content="El Día"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://eldia.24veces.com/"/>
    <meta property="og:image" content="http://eldia.24veces.com/static/img/dia-share.jpg"/>
    <meta property="og:site_name" content="-M"/>
    <meta property="fb:admins" content="501641940"/>
    <meta property="og:description" content="El Día: Los comentarios de elnuevodía.com ahora son fáciles de leer."/>

    <link rel="icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/print.css" type="text/css" media="print"> 
    <!--[if lt IE 8]>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/angrytards.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/underscore.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angrytards.js"></script>
    <script type="text/template" id="story-template">
        <li><a href="<%= comments %>" class="comment-url"><%= title %></a></li>
    </script>
    <script type="text/template" id="comment-template">
        <ul>
            <% _.each(comments, function(comment){ %>
                <li><span class="username">[<%= comment.username %>]</span>: <%= comment.comment %></li>
            <% }); %>
        </ul>
    </script>
    <script type="text/template" id="large-story-template">
        <div class="span-24 center large-story"><a href="<%= comments %>" class="comment-url"><%= title %></a></div>
        <hr class="space">
        <hr>
    </script>
    <script type="text/template" id="medium-story-template">
        <div class="span-24">
            <div class="span-6 colborder medium-story"><a href="<%= stories[0].comments %>" class="comment-url"><%= stories[0].title %></a></div>
            <div class="span-10 colborder medium-story"><a href="<%= stories[1].comments %>" class="comment-url"><%= stories[1].title %></a></div>
            <div class="span-6 last medium-story"><a href="<%= stories[2].comments %>" class="comment-url"><%= stories[2].title %></a></div>
        </div>
        <hr class="space">
        <hr>
    </script>
    <script type="text/template" id="small-story-template">
        <div class="span-24">
            <div class="span-5 colborder small-story"><a href="<%= stories[0].comments %>" class="comment-url"><%= stories[0].title %></a></div>
            <div class="span-5 colborder small-story"><a href="<%= stories[1].comments %>" class="comment-url"><%= stories[1].title %></a></div>
            <div class="span-5 colborder small-story"><a href="<%= stories[2].comments %>" class="comment-url"><%= stories[2].title %></a></div>
            <div class="span-5 last small-story"><a href="<%= stories[3].comments %>" class="comment-url"><%= stories[3].title %></a></div>
        </div>
        <hr class="space">
        <hr>
    </script>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>