{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="span-24">
        <div class="span-12 date" id="date">{{ date|date:"l, F j, Y" }}</div>
        <div class="span-12 last share">
            <button>Tweet</button>
            <button>+1</button>
            <button>Like</button>
        </div>
    </div>
    <hr>

    <div class="span-24 center logo">
        <h1><a href="/"><img src="{{ STATIC_URL }}img/logo.png" alt="El Día" title="El Día"></a></h1>
        <span>Los comentarios de <a href="http://elnuevodia.com">elnuevodía.com</a> deprimen a cualquiera, ahora son fáciles de leer.</span>
        </div>
    <hr>

    <div class="span-24 center large-story"><a href="{{ story.url }}" class="comment-url">{{ story.title }}</a></div>
    <hr class="space">
    <hr>

    <div class="span-24">
        <div class="span-11 colborder"><a href="/">&larr; Volver</a></div>
        <div class="span-12 last right"><a href="{{ story.url }}" class="comment-url">Ver en elnuevodia.com &rarr;</a></div>
    </div>
    <hr>
    <hr class="space">
    
    {% if comments.count %}

        {% for c in comments.comments %}
            <div class="span-23 prepend-1 comment">
                <span class="quote">‟</span>{{c.comment}}
                <div class="username">- {{ c.username }}</div>
            </div>
            <hr>
        {% endfor %}

        <div class="span-24">
            <div class="span-8 pagination prev">
                {% if comments.prev_page %}<a href="{{ comments.prev_page }}">&larr; Página Anterior</a>{% else %}&nbsp;{% endif %}
            </div>
            <div class="span-8 pagination center">
                Página {{ comments.current_page }} de {{ pages }}
            </div>
            <div class="span-8 last pagination next">
                {% if comments.next_page %}<a href="{{ comments.next_page }}">Próxima Página &rarr;</a>{% else %}&nbsp;{% endif %}
            </div>
        </div>

    {% else %}
        <div class="span-24">
            <h2>Nadie ha comentado en esta noticia :(</h2>
        </div>
    {% endif %}

    <hr class="space">
    <hr class="space">
    <hr class="space">
    <hr class="space">
</div>
{% endblock %}