{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="span-24">
        <div class="span-12 date" id="date">{{ date|date:"l, F j, Y" }}</div>
        <div class="span-12 last share">
            <button>Tweet</button>
            <button>+1</button>
            <button>Like</button>
        </div>
    </div>
    <hr>

    <div class="span-24 center logo">
        <h1><a href="/"><img src="{{ STATIC_URL }}img/logo.png" alt="El Día" title="El Día"></a></h1>
        <span>Los commentarios de <a href="http://elnuevodia.com">elnuevodia.com</a>: lo peor del internet, fácil de leer</span>
    </div>
    <hr>
    
    <div id="news"><div id="loading">Loading...</div></div>

    <hr class="space">
    <hr class="space">
    <hr class="space">
    <hr class="space">
</div>
{% endblock %}